[submodule "carla_network_control/src/carla_network_control/fast-semantic-segmentation"]
	path = carla_network_control/src/carla_network_control/fast-semantic-segmentation
	url = https://github.com/govvijaycal/fast-semantic-segmentation.git
